.nav-container,
h1 {
    font-family: 'Special Elite', system-ui;
}

.content,
.sidebar-container,
.hextra-toc,
.flex {
    font-family: 'Sanchez', serif;
}

:root {
    --primary-hue: 170deg;
    --primary-saturation: 70%;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
.youtube-video-container::after {
display: block;
content: "";
padding-top: 56.25%;
}

.youtube-video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Sanchez:ital@0;1&family=Special+Elite&display=swap');